<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chair Products</title>
    <!-- bootstrap link -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- my style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&display=swap"
        rel="stylesheet">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-dark py-3">
        <div class="container">
            <a class="navbar-brand fw-bolder fs-4 text-uppercase" href="#">furniture</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-dark">
                    <li class="nav-item px-3">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link " href="#">Products
                        </a>
                    </li>
                    <li class="nav-item dropdown px-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="true">
                            Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Chair</a></li>
                            <li><a class="dropdown-item" href="#">Sofa</a></li>
                        </ul>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- fund navbar -->
    <!-- banner-->
    <div class="container-fluid position-relative p-0  ">
        <div class="cover">
            <img src="images/chairs.jpg" alt="" class="img-fluid">
        </div>
        <div class="info-cover position-absolute w-50 top-50 start-50 translate-middle text-center">
            <h2 class="fw-light text-white fs-1 mb-5">Find the best Chairs
            </h2>
            <h1 class="fs-1 text-white mb-5 pb-5">Buy now</h1>
        </div>
    </div>
    <!-- fund banner -->
    <!-- Category product -->
    <div class="container my-5 pt-5">
        <div class="my-5 text-center">
            <h3 class="text-uppercase fw-light">trending now</h3>
            <h2 class="fs-1">Best Chairs</h2>
        </div>
        <div class="row">
            <!-- chair 1 -->
            <div class="col-12 col-md-6 col-lg-3 mt-5">
                <div class="card h-100 p-2 bg-light border-0">
                    <img src="images/chair_1.PNG" class="card-img-top mt-3 img-fluid chair" alt="...">
                    <div class="card-body text-center">
                        <h4 class="card-title fw-bolder mt-3">Block Arm Chair</h4>
                        <p class="card-text fw-bold mt-3 fs-3">$145</p>
                        <div class="mt-3">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#" class="btn btn-dark rounded-circle mt-3"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- fund chair 1 -->
            <!-- chair 2 -->
            <div class="col-12 col-md-6 col-lg-3 mt-5">
                <div class="card h-100 p-2 bg-light border-0">
                    <img src="images/chair_2.PNG" class="card-img-top mt-3 img-fluid chair" alt="...">
                    <div class="card-body text-center">
                        <h4 class="card-title fw-bolder mt-3">Arm Chair</h4>
                        <p class="card-text fw-bold mt-3 fs-3">$143</p>
                        <div class="mt-3">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#" class="btn btn-dark rounded-circle mt-3"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- fund chair 2 -->
            <!-- chair 1 -->
            <div class="col-12 col-md-6 col-lg-3 mt-5">
                <div class="card h-100 p-2 bg-light border-0">
                    <img src="images/chair_1.PNG" class="card-img-top mt-3 img-fluid chair" alt="...">
                    <div class="card-body text-center">
                        <h4 class="card-title fw-bolder mt-3">Block Arm Chair</h4>
                        <p class="card-text fw-bold mt-3 fs-3">$145</p>
                        <div class="mt-3">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#" class="btn btn-dark rounded-circle mt-3"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- fund chair 1 -->
            <!-- chair 2 -->
            <div class="col-12 col-md-6 col-lg-3 mt-5">
                <div class="card h-100 p-2 bg-light border-0">
                    <img src="images/chair_2.PNG" class="card-img-top mt-3 img-fluid chair" alt="...">
                    <div class="card-body text-center">
                        <h4 class="card-title fw-bolder mt-3">Arm Chair</h4>
                        <p class="card-text fw-bold mt-3 fs-3">$143</p>
                        <div class="mt-3">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#" class="btn btn-dark rounded-circle mt-3"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- fund chair 2 -->
            <!-- chair 1 -->
            <div class="col-12 col-md-6 col-lg-3 mt-5">
                <div class="card h-100 p-2 bg-light border-0">
                    <img src="images/chair_1.PNG" class="card-img-top mt-3 img-fluid chair" alt="...">
                    <div class="card-body text-center">
                        <h4 class="card-title fw-bolder mt-3">Block Arm Chair</h4>
                        <p class="card-text fw-bold mt-3 fs-3">$145</p>
                        <div class="mt-3">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#" class="btn btn-dark rounded-circle mt-3"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- fund chair 1 -->
            <!-- chair 2 -->
            <div class="col-12 col-md-6 col-lg-3 mt-5">
                <div class="card h-100 p-2 bg-light border-0">
                    <img src="images/chair_2.PNG" class="card-img-top mt-3 img-fluid chair" alt="...">
                    <div class="card-body text-center">
                        <h4 class="card-title fw-bolder mt-3">Arm Chair</h4>
                        <p class="card-text fw-bold mt-3 fs-3">$143</p>
                        <div class="mt-3">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#" class="btn btn-dark rounded-circle mt-3"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- fund chair 2 -->
            <!-- chair 1 -->
            <div class="col-12 col-md-6 col-lg-3 mt-5">
                <div class="card h-100 p-2 bg-light border-0">
                    <img src="images/chair_1.PNG" class="card-img-top mt-3 img-fluid chair" alt="...">
                    <div class="card-body text-center">
                        <h4 class="card-title fw-bolder mt-3">Block Arm Chair</h4>
                        <p class="card-text fw-bold mt-3 fs-3">$145</p>
                        <div class="mt-3">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#" class="btn btn-dark rounded-circle mt-3"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- fund chair 1 -->
            <!-- chair 2 -->
            <div class="col-12 col-md-6 col-lg-3 mt-5">
                <div class="card h-100 p-2 bg-light border-0">
                    <img src="images/chair_2.PNG" class="card-img-top mt-3 img-fluid chair" alt="...">
                    <div class="card-body text-center">
                        <h4 class="card-title fw-bolder mt-3">Arm Chair</h4>
                        <p class="card-text fw-bold mt-3 fs-3">$143</p>
                        <div class="mt-3">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#" class="btn btn-dark rounded-circle mt-3"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- fund chair 2 -->
        </div>
    </div>
    <!-- fund Category product -->
    <!-- Footer -->
    <footer class="bg-light py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 ps-5 ">
                    <h3 class="fs-3 fw-bold text-dark"><a href="" class="text-decoration-none text-dark">FURNITURE</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint ullam natus consectetur aspernatur
                        a quis ut eaque, labore ipsum similique, quidem sit? Eaque sit voluptatem perspiciatis dicta
                        molestias minus aut.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-content-center
                ">
                    <div>
                        <h3 class="ps-5">Company</h3>
                        <ul class="list-unstyled ps-5 lh-lg">
                            <li><a href="" class="text-decoration-none text-dark">About US</a></li>
                            <li><a href="" class="text-decoration-none text-dark">Services</a></li>
                            <li><a href="" class="text-decoration-none text-dark">Project</a></li>
                            <li><a href="" class="text-decoration-none text-dark">Fourth Link</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 ps-5 d-flex justify-content-center align-content-center">
                    <div>
                        <h3 class="ps-5">Products</h3>
                        <ul class="list-unstyled ps-5 lh-lg">
                            <li><a href="" class="text-decoration-none text-dark">Chair</a></li>
                            <li><a href="" class="text-decoration-none text-dark">Table</a></li>
                            <li><a href="" class="text-decoration-none text-dark">Sofa</a></li>
                            <li><a href="" class="text-decoration-none text-dark">Lamp</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-content-center ">
                    <div>
                        <h3 class="ps-5">Support</h3>
                        <ul class="list-unstyled ps-5 lh-lg">
                            <li><a href="" class="text-decoration-none text-dark">FAQ</a></li>
                            <li><a href="" class="text-decoration-none text-dark">How it works</a></li>
                            <li><a href="" class="text-decoration-none text-dark">Contact</a></li>
                        </ul>
                        <div class="social text-light ps-5">
                            <i class="fab fa-facebook-f pt-2 bg-dark rounded-circle"></i>
                            <i class="fab fa-instagram ms-2 p-2 bg-dark rounded-circle"></i>
                            <i class="fab fa-twitter ms-2 p-2 bg-dark rounded-circle"></i>
                            <i class="fab fa-youtube bg-dark p-2 rounded-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- fund footer -->
    <!-- scripte -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/like.js"></script>
</body>

</html>