<!-- Footer -->
<footer class="bg-light py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 ps-5 ">
                <h3 class="fs-3 fw-bold text-dark"><a href="" class="text-decoration-none text-dark">FURNITURE</a>
                </h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint ullam natus consectetur aspernatur
                    a quis ut eaque, labore ipsum similique, quidem sit? Eaque sit voluptatem perspiciatis dicta
                    molestias minus aut.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-content-center
            ">
                <div>
                    <h3 class="ps-5">Company</h3>
                    <ul class="list-unstyled ps-5 lh-lg">
                        <li><a href="" class="text-decoration-none text-dark">About US</a></li>
                        <li><a href="" class="text-decoration-none text-dark">Services</a></li>
                        <li><a href="" class="text-decoration-none text-dark">Project</a></li>
                        <li><a href="" class="text-decoration-none text-dark">Fourth Link</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 ps-5 d-flex justify-content-center align-content-center">
                <div>
                    <h3 class="ps-5">Products</h3>
                    <ul class="list-unstyled ps-5 lh-lg">
                        <li><a href="" class="text-decoration-none text-dark">Chair</a></li>
                        <li><a href="" class="text-decoration-none text-dark">Table</a></li>
                        <li><a href="" class="text-decoration-none text-dark">Sofa</a></li>
                        <li><a href="" class="text-decoration-none text-dark">Lamp</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-content-center ">
                <div>
                    <h3 class="ps-5">Support</h3>
                    <ul class="list-unstyled ps-5 lh-lg">
                        <li><a href="" class="text-decoration-none text-dark">FAQ</a></li>
                        <li><a href="" class="text-decoration-none text-dark">How it works</a></li>
                        <li><a href="" class="text-decoration-none text-dark">Contact</a></li>
                    </ul>
                    <div class="social text-light ps-5">
                        <i class="fab fa-facebook-f pt-2 bg-dark rounded-circle"></i>
                        <i class="fab fa-instagram ms-2 p-2 bg-dark rounded-circle"></i>
                        <i class="fab fa-twitter ms-2 p-2 bg-dark rounded-circle"></i>
                        <i class="fab fa-youtube bg-dark p-2 rounded-circle"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- fund footer -->