<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container mb-5">
    <div class="row mt-5">
        <div class="col-12 col-md-6 bg-light p-5 my-auto">
            <h4 class="fw-light">FEATURED PRODUCT</h4>
            <h3 class="fs-1">{{productDetail.product_name}}</h3>
            <p class="fs-3 fw-light">{{productDetail.product_description}}</p>
            <div class="d-flex justify-content-around">
                <p>Material : </p>
                <ul>
                    {% for material in productDetail.product_material.all %} 
                    <li>{{material}}</li> {% endfor %}
                </ul>
                <p>Color : </p>
                <ul> {% for color in productDetail.product_color.all %} <li>{{color}}</li> {% endfor %} </ul> 
                <p>Legs: {{productDetail.product_legs}} </p>
                <p>Pillows: {{productDetail.product_pillows}}</p>
            </div>
            <p class="fw-bolder fs-3">${{productDetail.product_price}}</p>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center align-content-center">
            <img src="{{productDetail.product_image.url}}" class="img-fluid" alt="">
        </div>
    </div>
</div>

{% endblock %}