<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <!-- bootstrap link -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- my style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&display=swap"
        rel="stylesheet">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-dark py-3">
        <div class="container">
            <a class="navbar-brand fw-bolder fs-4 text-uppercase" href="#">furniture</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-dark">
                    <li class="nav-item px-3">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link " href="#">Products
                        </a>
                    </li>
                    <li class="nav-item dropdown px-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="true">
                            Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Chair</a></li>
                            <li><a class="dropdown-item" href="#">Sofa</a></li>
                        </ul>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- fund navbar -->
    <div class="container mb-5">
        <div class="row mt-5">
            <div class="col-12 col-md-6 bg-light p-5 my-auto">
                <h4 class="fw-light">FEATURED PRODUCT</h4>
                <h3 class="fs-1">Black Arm Chair</h3>
                <p class="fs-3 fw-light">Choose from a wide range of well-crafted premium quality furniture online.</p>
                <div class="d-flex justify-content-around">
                    <p>Material : Leather</p>
                    <p>Color : Pink </p>
                    <p>Legs: 4 </p>
                    <p>Pillows: 2</p>
                </div>
                <p class="fw-bolder fs-3">$145.00</p>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-content-center">
                <img src="images/chair_2.PNG" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="bg-light py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <h3 class="fs-3 fw-bold text-dark"><a href="" class="text-decoration-none text-dark">FURNITURE</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint ullam natus consectetur aspernatur
                        a quis ut eaque, labore ipsum similique, quidem sit? Eaque sit voluptatem perspiciatis dicta
                        molestias minus aut.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-content-center
                ">
                    <div>
                        <h3 class="ps-5">Company</h3>
                        <ul class="list-unstyled ps-5 lh-lg">
                            <li><a href="" class="text-decoration-none text-dark">About US</a></li>
                            <li><a href="" class="text-decoration-none text-dark">Services</a></li>
                            <li><a href="" class="text-decoration-none text-dark">Project</a></li>
                            <li><a href="" class="text-decoration-none text-dark">Fourth Link</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 ps-5 d-flex justify-content-center align-content-center">
                    <div>
                        <h3 class="ps-5">Products</h3>
                        <ul class="list-unstyled ps-5 lh-lg">
                            <li><a href="" class="text-decoration-none text-dark">Chair</a></li>
                            <li><a href="" class="text-decoration-none text-dark">Table</a></li>
                            <li><a href="" class="text-decoration-none text-dark">Sofa</a></li>
                            <li><a href="" class="text-decoration-none text-dark">Lamp</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-content-center ">
                    <div>
                        <h3 class="ps-5">Support</h3>
                        <ul class="list-unstyled ps-5 lh-lg">
                            <li><a href="" class="text-decoration-none text-dark">FAQ</a></li>
                            <li><a href="" class="text-decoration-none text-dark">How it works</a></li>
                            <li><a href="" class="text-decoration-none text-dark">Contact</a></li>
                        </ul>
                        <div class="social text-light ps-5">
                            <i class="fab fa-facebook-f pt-2 bg-dark rounded-circle"></i>
                            <i class="fab fa-instagram ms-2 p-2 bg-dark rounded-circle"></i>
                            <i class="fab fa-twitter ms-2 p-2 bg-dark rounded-circle"></i>
                            <i class="fab fa-youtube bg-dark p-2 rounded-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- fund footer -->
    <!-- scripte -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/like.js"></script>
</body>

</html>